
/*===============================================
  Shared Styles (for all screen sizes)
  =============================================== */


  /* =Elements
  ----------------------------------------------- */

  a {
    color: rgb(250, 53, 0); /* @maraschino */
    color: inherit;
    -webkit-transition : color 0.2s;
    -moz-transition    : color 0.2s;
    -ms-transition     : color 0.2s;
    -o-transition      : color 0.2s;
    transition         : color 0.2s;
  }
  a img {
    border-width: 0;
  }
  a:hover,
  a:active {
    color: black
  }
  .active a,
  .active a:hover,
  .active a:active {
    color: inherit;
  }
  button {
    cursor: pointer;
  }

  /* This is most likely a link that wraps block-level content. */
  th > a:first-child,
  section > a:first-child {
    display: block;
    overflow: auto;
    color: inherit;
    text-decoration: none;
  }
  .item-summary > a:first-child {
    overflow: visible;
  }
  th > a:first-child:hover,
  th > a:first-child:active,
  section > a:first-child:hover,
  section > a:first-child:active {
    color: black;
  }

  section, article, header, footer, nav, aside {
    display: block;
  }
  h1, h2, h3, h4, h5, h6, p, ol, ul, dl, form, blockquote, table,
  section, article, header, footer, nav, aside,
  #primary-featured-items,
  #secondary-featured-items,
  #featured-items,
  #related-items,
  #content,
  #footer {
    margin-top: 1.3333em; /* @line-height */
    margin-bottom: 0;

  }

  *:first-child {
    margin-top: 0;
  }
  img:first-child + * {
    margin-top: 0;
  }
  /* Forms often have a hidden div at the beginning. */
  div:first-child + * {
    margin-top: 0;
  }

  h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
    margin-top: 0.5em;
  }
  a h3, a h4, a h5, a h6 {
    color: inherit;
  }
  h1, .h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue-CondensedBold", "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .form-error{
	 color:#F93800;
	 display: block;
	 margin: -2px 0 5px 0;
	 }

  /* For Firefox */
  button::-moz-focus-inner {
      border: 0;
      padding: 0;
  }
  .item-details dl abbr {
    border-width: 0;
  }

  h1, .h1 {
    color: black;
  }
  .item-details h1 {
    color: inherit;
    line-height: 1;
  }
  .item-summary .h1,
  h2 {
    color: rgb(51, 51, 51); /* @tungsten */
  }
  .cart-add .h2,
  .item-details h1,
  .item-summary .h1,
  .image-item-list li a,
  .detailed-item-list h3,
  .confirmation table h6,
  #secondary-featured-items h2,
  #secondary-featured-items section h3 span {
    font-family: "HelveticaNeue-CondensedBold", "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
  }
  #header .categories .inner > ul > li > a {
    font-family: "HelveticaNeue-CondensedBold", "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875em; /* @14px */
    line-height: 1.85714285714286; /* @26px */
  }
  
  h1, .h1 {
    font-size: 2em;
  }
  h2, .h2 {
    font-size: 1.75em;
  }
  h3, .h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  
  .h1, .h2, .h3{
	font-weight:bold
  }
  
  h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1.125em;
  }
  h6 {
    font-size: 1.125em;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
	.clearfix:before,
	.clearfix:after {
    	content: " "; /* 1 */
    	display: table; /* 2 */
	}

	.clearfix:after, .clear {
    	clear: both;
	}
	.clearfix {
    	*zoom: 1;
	}

  /* Keep lines readable, by limiting their length. */
  h1, h2, h3, h4, h5, h6, p, li, dt, dd, nav {
    max-width: 33em;
  }
  form p,
  #modal *,
  #header nav,
  #footer nav,
  #secondary-featured-items h2,
  .item-list h2,
  .detailed-item-list .item-details p {
    max-width: 999999px;
    margin: 0px;
  }

  form p.submit{
    margin-bottom: 20px;
  }
  form p.forgot{
    font-size: 14px;
  }
  /* =Modules
  ----------------------------------------------- */
  .social ul,
  .social li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .social li {
    display: inline;
    margin-right: 1em;
  }


  /* =Layout
  ----------------------------------------------- */

  #related-items h2,
  #header .group,
  #header .categories .inner,
  #primary-featured-items,
  #secondary-featured-items,
  #content,
  #footer {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
  }

  #related-items h2 {
    font-size: 1.125em; /* @18px */
    text-transform: uppercase;
  }
  #header .categories .inner {
    padding-left: 142px; /* @branding.text.left */

  }
   @media (max-width: 1024px) {
       #header .categories .inner{
         padding-right: 0px;
         padding-left: 120px;
       }
    }
  #footer {
    padding-left: 0;
    padding-right: 0;
  }
  #content,
  #primary-featured-items {
    margin-top: 1.875em; /* @30px */
  }
  @media (max-width: 768px){
    #content{
      margin-top: 0px;
      border:none;
    }
  }
  #primary-featured-items {
    margin: 0px 0 45px 0;
  }
  #primary-featured-items .item-details {
    padding-top: 0;
    padding-bottom: 0;
  }


  /* =Header/Footer
  ----------------------------------------------- */
  #header {
    margin-top: 0;
    padding-top: 20px;
    z-index: 999;
    position: relative;
    background: #fff;
  }
  @media (max-width: 767px){
    #header{
          padding: 10px 0;
          border-bottom: 1px solid #D6D6D6;
    }
  }
  #header a,
  #footer a {
    color: inherit;
    text-decoration: none;
  }
  #header a:hover,
  #header a:active,
  #footer a:hover,
  #footer a:active {
    color: black;
    text-decoration: underline;
  }
  #header .menu-toggle{
      float:right;
      font-size: 30px;
      margin-top: 10px;
      outline: none;
  }

  /* =Footer
  ----------------------------------------------- */
  #footer {
    background: #fff url(/static/images/shared/dot.svg) top left repeat-x;
    margin-top: 6em;
    padding-top: 30px;
    overflow: auto;
    font-size: 0.6875em; /* @11px */
    line-height: 47px;
    margin-bottom: 20px;
  }
  @media (max-width: 768px){
    #footer .column{
      text-align: center;
    }
  }
  #footer .legal {
    margin-top: 0;
    float: left;
   
  }
   @media (max-width: 1024px){
      #footer .legal {
          float: none;
          display: inline-block;
          margin: 0 0 20px 0;
      }
  }
  #footer .legal span {
    margin-top: -5px;
    display: inline-block;
    background: url(/static/images/shared/limited-runs/mark.png) left no-repeat;
    background-size: contain;
    width: 62px;
    height: 46px;
    vertical-align: middle;
    margin-right: 1em;
  }
  #footer nav {
    margin: 10px 0 0 0;
    float: right;
    font-weight: bold;
    text-transform: uppercase;
  }
  #footer nav li {
    margin-right: 0;
    margin-left: 5px;
  }
   @media (max-width: 1024px){
     #footer nav {
      float:none;
      /* display: inline-block; */
      text-align: center;
     }
    #footer nav li {
      float: none;
      display: inline-block;
    }
   }
   @media (max-width: 768px){
    #footer nav li {
      display: block;
      max-width: 100%;
    }
   }
  #footer nav li:first-child {
    margin-left: 0;

  }
   #footer nav li:first-child a{

     border:none;
   }
  #footer nav a {
    color: rgb(25, 25, 25);
    border-left: 1px solid rgb(204, 204, 204); /* @silver*/
    padding-left: 0.9em;
  }
   @media (max-width: 768px){
     #footer nav li{
       margin: 5px 0;
     }
 #footer nav a {
   border:none;
 }
   }

  /* =Header
  ----------------------------------------------- */
  #header .group {
    position: relative;
  }
  #header .branding {
    position: relative;
    padding: 0;
    float: left;
    max-width: 660px;
    width: 100%;
    margin-top: 10px;
  }
  @media (max-width: 1023px) {
   #header .branding{max-width: 100%;}
  }
  @media (max-width: 767px) {
   #header .branding{max-width: 200px;margin-top: 0px;}
  }
  #header .logo {
    width: 279px;
    display: block;
    margin-bottom: -17px;
  }
  @media (max-width: 767px) {
    #header .logo {
      width: 180px;
      margin:0px;
    }
      #header .branding a span.icon{
        height: 55px;
        width: 75px;
        bottom: 0px;
        background-size: contain;
      }
    }
    

  #header span.tagline {
    font:75%/1.3333 "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#8f8f8f;
    margin: 0;
    position: absolute;
    right: 0px;
    bottom: 12px;
  }
  @media (max-width: 1023px){
#header span.tagline {
      bottom: auto;
      right: 0px;
      top: 40px;
}
}
  #header .account {
    white-space: nowrap;
    font-size: 0.75em; /* @12px */
    float: right;
    margin: 10px 0 0 0;
    clear: right;
  }
  @media (max-width: 1023px){
    #header .account {
      position: absolute;
      top: 10px;
      right: 15px;
    }
  }
  #header .account ul {
    margin:0;
  }
  #header .account .h3 {
    font-size: inherit;
    text-align: right;
    margin-bottom: 0px;
  }
  #header .account a {

    text-transform: lowercase;
    background: transparent url(/static/images/shared/triangle.png) left no-repeat;
    padding-left: 10px;
  }
  #header .account a em {
    font-style: normal;
    color: rgb(250, 53, 0); /* @maraschino */
  }

  #header .search .h3,
  .search label span {
    position: absolute;
    left: -9999px;
  }
  .search label br {
    display: none;
  }

  #header .categories .inner {
    overflow: auto;
  }
  #header form {
    margin-top: 0;
  }
  #header .search {
    font-size: 0.8em;
    margin-top: 6px;
    float: right;
    line-height: 16px;
  }
  #header form label{
    display: inline-block;
  }

  /* =Navigation
  ----------------------------------------------- */
  nav ul, nav li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  nav li {
    display: inline;
    margin-right: 1em;
  }
  nav li:last-child {
    margin-right: 0;
  }
  #header .categories {
    margin-top: 0;
    
  }
  #header .nav-wrapper{
    background-color: rgb(153, 153, 153); /* @magnesium */
    box-shadow: 0 2px 5px rgba(191, 191, 191, 0.75);
  }
  #header .categories .inner > ul {
    margin-left: -14px; /* @button.padding */
    float: left;
    margin-bottom: 0px;
  }
  #header .categories .inner > ul > li {
    margin-right: 0;
    display: block;
    float: left;
  }
  #header .categories a {
    display: block;
    padding: 0.5em 1em;
  }
  #header .categories .inner > ul > li > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition : all 0.2s;
    -moz-transition    : all 0.2s;
    -ms-transition     : all 0.2s;
    -o-transition      : all 0.2s;
    transition         : all 0.2s;
  }
  #header .categories .inner > ul > li.active > a {
    color: black;
  }
  #header .categories .inner > ul > li:hover > a,
  #header .categories .inner > ul > li:active > a {
    color: black;
  }

  /* Dropdown menu */
  #header .categories li ul {
    margin-top: 0;
    position: absolute;
    left: -9999px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    z-index: 1;
    width: 200px;
  }
  #header .categories li li {
    margin: 0;
  }
  #header .categories li li a {
    border-top: 1px solid rgb(204, 204, 204); /* @silver*/
    background: rgb(228, 228, 228);
    color: rgb(102, 102, 102);
    -webkit-transition : all 0.2s;
    -moz-transition    : all 0.2s;
    -ms-transition     : all 0.2s;
    -o-transition      : all 0.2s;
    transition         : all 0.2s;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 10em;
    font-size: 0.75em; /* @12px */
  }
  #header .categories li li:first-child a {
    border-top-width: 0;
  }
  #header .categories li li a:hover,
  #header .categories li li a:active {
    background: rgb(204, 204, 204); /* @silver*/
    color: rgb(51, 51, 51); /* @tungsten */
  }
  #header .categories li:hover ul {
    left: auto;
  }

  .nav.menu.vertical{
      margin-top: 40px;

  }
  .is-accordion-submenu-parent a {
    font-size: 14px;
    
  }

  /* =Category
  ----------------------------------------------- */
  .search-results header h1 {
    text-transform: uppercase;
    font-size: 1.5em; /* @24px */
    color: rgb(51, 51, 51);
  }
  .search-results header h1 strong {
    color: rgb(250, 53, 0);
  }
  .search-results header h2,
  .search-results footer h2,
  .search-results aside h2 {
    font-size: inherit;
  }
  .order-history header,
  .search-results header {
    position: relative;
    background: url(/static/images/shared/dot.svg) bottom left repeat-x;
    margin-bottom: 1em;
    padding-bottom: 0.75em;
  }
  .category header{
    position: relative;
  }
 @media (max-width: 768px){

   .category header{
    margin: 20px 0;
   }

   
 }
  
  .view-options {
    margin-top: 6px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .view-options li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0;
  }

  .view-options li > span{
	  font-family:"HelveticaNeue-CondensedBold", "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	  text-transform:uppercase;
	  position:relative;
	  top:-4px;
  }
  .view-options li > select{
	padding: 2px 0.4em;
	font-size: 12px;
	margin: 0;
	background: rgb(226, 226, 226);
	border-width: 0;
	line-height: inherit;
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
	position:relative;
	top:-6px;
  }

  .view-options .image a,
  .view-options .detailed a {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
  }
  .view-options .image a {
    background-image: url(/static/images/shared/icons/image.png);
  }
  .view-options .image a:hover,
  .view-options .image a.active,
  .view-options .image.active a {
    background-image: url(/static/images/shared/icons/image-active.png);
  }
  .view-options .detailed a {
    background-image: url(/static/images/shared/icons/detailed.png);
  }
  .view-options .detailed a:hover,
  .view-options .detailed a.active,
  .view-options .detailed.active a {
    background-image: url(/static/images/shared/icons/detailed-active.png);
  }


 

  /* =Item List
  ----------------------------------------------- */
  #related-items,
  #featured-items {
    margin-top: 1.875em; /* @30px */
  }
  #featured-items h2, #related-item h2 {
    font-family: "HelveticaNeue-CondensedBold", "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    width:960px;
    margin:auto;
    background: url(/static/images/shared/dot.svg) bottom left repeat-x;
    padding-bottom: 0.83333333333333em;
    margin-bottom: 0.83333333333333em;
    /*position: absolute;
    left: -9999px;*/
    padding-left: 15px;
    padding-right: 15px;
  }
  
  #featured-items .slick-slide,
#related-items .slick-slide
  {
    height: 150px;
    position: relative;
    display: table;
  }
  #featured-items .slick-slide a,
  #related-items .slick-slide a
  {
  display: table-cell;
  vertical-align: middle;
  }
  #featured-items .slick-slide a img,
  #related-items .slick-slide a img
  {
    display: inline-block;
    max-height: 150px;
  }
  .detailed-item-list,
  .image-item-list {
    margin-top: 1.3333em; /* @line-height */
  }
  .detailed-item-list section > a {
    display: inline;
	text-decoration:none;
  }
  .detailed-item-list section.row {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 768px){
    .detailed-item-list section .img-col{
    margin-top: 20px;
    }
    .detailed-item-list section h2,
    .product-detail.item-details h1
    {
      display: block;
      text-align: center;
      margin: 20px auto;
      max-width: 340px;
    }
    .item-details.row  table{
      margin: 0 auto;
      width: 100%;
      max-width: 340px;
    }
    .detailed-item-list .item-details form.buy div.price-group,
    .product-detail.item-details  div.price-group
    {
      margin: 15px auto 0;
      max-width: 340px;
      width: 100%;
    }

  }
  
  .detailed-item-list section h3 {
    font-size: 1.25em; /* @20px */
  }
  .category .detailed-item-list .item-details .image,
  .search-results .detailed-item-list .item-details .image {
    text-align: center;
  }
  .detailed-item-list .item-details img {
    max-width: 100%;
  }

  /* fix style change bug */
  .detailed-item-list .item-details form.buy .price-group{
    width: auto;
    margin-left: 0;
  }
  .detailed-item-list .item-details form.buy .options{
    margin-bottom: 10px;
  }
  .detailed-item-list .item-details .price-group {
    margin-top: 0;
   
  }
  

  .item-list li a {
    display: block;
    background: rgb(250, 53, 0); /* @maraschino */
  }
  .item-list li a img {
    -webkit-transition : opacity 0.2s;
    -moz-transition    : opacity 0.2s;
    -ms-transition     : opacity 0.2s;
    -o-transition      : opacity 0.2s;
    transition         : opacity 0.2s;
    max-height: 140px;
    max-width: 90px;
  }
  .item-list li a img.portrait{
    max-width: 90px;
    max-height: 140px;
  }
  .item-list li a:hover img,
  .item-list li a:active img {
    opacity: 0.25;
  }

  /* The boxes are the wrong size in IE8, so make their background color invisible. */
  @media \0screen {
    .item-list li a {
      background: transparent;
    }
  }

  .item-list {
    position: relative;
  }
  .item-list .next,
  .item-list .previous {
    display: block;
    height: 100%;
    color: white;
    text-decoration: none;
    opacity: 0;
    filter:alpha(opacity=0)
    -webkit-transition : opacity 0.2s;
    -moz-transition    : opacity 0.2s;
    -ms-transition     : opacity 0.2s;
    -o-transition      : opacity 0.2s;
    transition         : opacity 0.2s;
    position: absolute;
    top: 0;
    width: 60px;
    background: rgb(250, 53, 0); /* @maraschino */
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  .item-list .next:hover,
  .item-list .previous:hover {
    opacity: 0.8;
    filter:alpha(opacity=80);
  }
  .item-list .next {
    right: 0;
    background-image: url(/static/images/shared/arrow-right.svg);
    background-size: auto 50px;
  }
  .item-list .previous {
    left: 0;
    background-image: url(/static/images/shared/arrow-left.svg);
    background-size: auto 50px;
  }



  .image-item-list ul,
  .image-item-list li,
  .item-list ul,
  .item-list li {
    list-style: none;
  }
  .image-item-list {
    /* overflow: auto; */
  }
  .image-item-list li {
    margin-bottom: 2.6666em; /* @line-height x 2 */
    position: relative;
    text-align: center;
  }
  
  .image-item-list li .thumbnail{
    text-align: center; 
  }
  .image-item-list li img{
    max-width: 220px;
    max-height: 150px;
    /* max-width: 120px; */
  }
  @media (max-width: 580px){
    .image-item-list li {
      width: 100%;
      height: auto!important;
    }
    .image-item-list li img{
      max-width: 300px;
      
    }
  }
 
  .slide-container {
    background: rgb(245, 245, 245);
    padding: 1em 50px;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    text-align: center;
    width: 100%;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
  }
  

  #secondary-featured-items {
    margin-top: 3em;
  }
  #secondary-featured-items h2 {
    background: url(/static/images/shared/dot.svg) bottom left repeat-x;
    padding-bottom: 0.83333333333333em;
    margin-bottom: 0.83333333333333em;
  }
  #secondary-featured-items section {
    margin: 0px;
  }
  @media (max-width: 1024px){
      #secondary-featured-items section {
        margin-bottom: 40px;
      }

  }
  @media (max-width: 767px){
    #secondary-featured-items section {
        max-width: 380px;
        margin: 20px auto;
        display: block;
        float: none;
    }
  }
  #secondary-featured-items h2 + section {
    /* margin-left: 0; */
  }
  #secondary-featured-items section > a {
    overflow: visible;
    position: relative;
  }
  
  #secondary-featured-items section > a > span {
    display:block;
    color:#F93800;
    font-size: 0.8em;
    font-weight:bold
  }
  #secondary-featured-items section > a:hover > span {
    text-decoration:underline;
  }
  
  .image-item-list li a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
  }
  .image-item-list li a br {
    display: none;
  }
  .image-item-list li a img {
    display: block;
    /*margin-bottom: 0.5em;*/
    margin: 0 auto 0.5em; /* make image center aligned */
  }
  .image-item-list li a:hover,
  .image-item-list li a:active {
    color: black;
  }
  #secondary-featured-items section h3 {
    margin-top: 0;
    color: white;
    line-height: normal;
     /* 24px */
    position: absolute;
    top: 10px;
    left: 10px;
  }
  #secondary-featured-items section .image {
    display: block;
    background: rgb(250, 53, 0); /* @maraschino */
    text-align: center;
  }
  #secondary-featured-items section .image img {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  #secondary-featured-items section a:hover img,
  #secondary-featured-items section a:active img {
    opacity: 0.25;
  }
  #secondary-featured-items section h3 span {
    float: left;
    clear: both;
    background: black;
    padding: 0.15em 0.25em;
    -webkit-transition : all 0.2s;
    -moz-transition    : all 0.2s;
    -ms-transition     : all 0.2s;
    -o-transition      : all 0.2s;
    transition         : all 0.2s;
  }
  #secondary-featured-items section h3 span + span {
    padding-top: 0;
  }
  #secondary-featured-items section p {
    font-size: 0.75em; /* @12px */
    margin-top: 10px;
  }
  #secondary-featured-items section img {
    display: block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }

  .search-results .filters {
    width: 220px;
    float: left;
  }
  .search-results .filters h3 {
    font-size: inherit;
    font-weight: inherit;
  }
  .search-results .filters label {
    display: block;
    margin-top: 0.25em;
    font-size: 0.875em; /* @14px */
  }
  .search-results .filters input {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: text-top;
  }

  .search-results .image-item-list,
  .search-results .detailed-item-list {
    float: left;
    margin-left: 20px;
    width: 720px; /* @page.width - @filters.width - @items.margin-left (960 - 220 - 20) */
  }
  .search-results .image-item-list li:nth-child(4n+1) {
    clear: none;
    margin-left: 20px;
  }
  .search-results .image-item-list li:nth-child(3n+1) {
    clear: both;
    margin-left: 0;
  }
  .paging {
    margin-left: 10px;
  }
  .search-results .paging,
  .search-results footer,
  .search-results .related {
    clear: both;
    padding-top: 1.3333em; /* @line-height */
    margin-left: 250px; /* @filters.width + @items.margin-left + @little.extra (220 + 20 + 10) */
  }

  .paging a {
    text-decoration: none;
  }
  .paging a[href]:hover,
  .paging a[href]:active {
    text-decoration: none;
    color: rgb(250, 53, 0);
  }
  .paging .previous a:before {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

    /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e621";
        font-size: 12px;
        margin-right: 10px;
  }
  .paging .next a:after {
    font-size: 12px;
    margin-left: 10px;
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e620";

  }

  .paging .current {
    font-weight:bold;
      background:rgb(250, 53, 0);
      color:#fff;
      text-align:center;
  }
  .paging li {
    margin:0 4px;
    padding:0 4px;
  }


  /* =Item Details
  ----------------------------------------------- */
  .product-detail.item-details{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .product-detail #add-to-cart{
    margin-top: 20px;
  }
  .product-detail.item-details h1{
    
color: #666;
  }
  .order-history > section,
  .item-details {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    /*overflow: auto;*/
    background: white;
  }
 
  .item-details .image a {
    display: block;
    text-decoration: none;
    font-size: 0.875em; /* @14px */
  }

  #item-page              .item-details .image,
  #primary-featured-items .item-details .image {
    text-align: center;
  }
  @media (max-width: 768px){
    #primary-featured-items .slick-slide  .column.image {
      float:none;
      margin: 0 auto;
    }
     #primary-featured-items .slick-slide  .column.image img{
       left: -100px;
       position: relative;
       opacity: 0;
       -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
       -ms-transition: all .5s ease;
       transition: all .5s ease;
       -moz-transition-delay: 400ms;
       -o-transition-delay: 400ms;
       -webkit-transition-delay: 400ms;
       transition-delay: 400ms;
     }
    #primary-featured-items .slick-active .column.image img{
      left: 0px;
      opacity: 1;
    }
  }
  /* On the home page, make the images a fixed height. */
  #primary-featured-items .item-details .image {
    text-align: center;
  }
  #primary-featured-items .item-details img {
    width: auto;
    display: inline-block;
  }



  .item-details h1 {
    font-size: 3em; /* @48px */
    margin-bottom: 0.35em;
    color: #fff;
  }
  .interior  .item-details h1 {
    font-size: 30px;
  }
  @media (max-width: 768px){
    .item-details h1{font-size: 30px;}
  }
  .item-details .inner > p {
    font-size: 0.875em; /* @14px */
  }
  .item-details p {
    font-size: 1.125em; /* @18px */
  }
  .item-details .attrs {
    margin: 1.33em 0;
  }
  .item-details .attrs p {
    font-size: 0.875em; /* @14px */
    margin: 10px 0 0;
  }
  .item-details table,
  .item-summary table {
    border-width: 0;
    border-collapse: collapse;
    font-size: 0.875em; /* @14px */
    width: auto;
  }
  .item-summary table {
    margin-top: 1.333em; /* @line-height */
    font-size: 0.75em; /* @12px */
  }
  .item-details table th,
  .item-details table td,
  .item-summary table th,
  .item-summary table td {
    border-width: 0;
    padding: 0.35em 0.5em;
  }
  .item-details table th,
  .item-summary table th {
    text-align: right;
    white-space: nowrap;
  }
  .item-details table th:after,
  .item-summary table th:after {
    content: ":";
  }
  .item-details table td,
  .item-summary table td {
    font-weight: bold;
  }
  .item-details dl {
    font-size: 0.875em; /* @14px */
    overflow: auto;
  }
  .item-details dt,
  .item-details form h2,
  .item-details .social .label {
    float: left;
    font-weight: normal;
    color: inherit;
    width: 25%;
    padding-right: 0;
    text-align: right;
  }
  .item-details dt {
    clear: both;
  }
  .item-details dt:after,
  .item-details form h2:after,
  .item-details .social h2:after {
    content: ":";
  }
  .item-details dd,
  .item-details .editions + .primary-action,
  .item-details form > div,
  .item-details .social > div {
    margin-left: 25%;
    width: 70%;
    padding-left: 5%;
    min-height: 1.3333em; /* @line-height */
    font-weight: bold;
  }
  .item-details .editions p{
    margin-top: 15px;
  }
  .item-details .note {
    text-align: right;
    font-style: italic;
  }
  .item-details dt,
  .item-details dd,
  .item-details form h2,
  .item-details form > div,
  .item-details .social .label,
  .item-details .social > div {
    margin-top: 0;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
  }
  .item-details label > [type='checkbox'], label > [type='radio']{
    margin: 0 10px 0 0;
  }
  .item-details .social .label,
  .item-details form h2,
  .item-details form h3,
  .item-details form .radio,
  .item-details form .note {
    font-family: inherit;
    font-size: 0.875em; /* @14px */
  }
  .item-details form .note small {
    font-size: inherit;
  }
  .item-details form .radio {
    margin-top: 0.25em;
    font-weight: normal;
  }

  .item-details .social {
    margin-top: 2em;
  }

  .item-details .price-group {
    margin-top: 1.3333em; /* @line-height */
    display: table;
    border-collapse: collapse;
    border-width: 0;
    background: rgb(51, 51, 51); /* @tungsten */
    color: white;
    width: auto;
  }
  .item-details .price-group .primary-action{
	margin-top:0
  }
  .item-details .price-group .primary-action span{
	display:block;
	margin-top:0
  }
  .item-details .price {
    padding: 0 1em;
    margin: 0px;
  }
  .item-details .primary-action{
    margin: 0px;
  }
  .item-details .price,
  .item-details .price-group .buy {
    padding: 0;
    border-width: 0;
    display: table-cell;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0px;
    font-family: "HelveticaNeue-CondensedBold", "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  .item-details .price-group .buy p {
    font-size: inherit;
    position: relative;
  }
  .item-details .price-group .buy button,
  .item-details .price-group .buy span   {
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;
    text-align: left;
    float: right;
  }
  .item-details .price-group .buy button b, .item-details .price-group .buy span b {
    
    /* Data URI encoded from: triangle.svg */
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MHB4IiBoZWlnaHQ9IjEwMHB4IiB2aWV3Qm94PSIwIDAgNTAgMTAwIj4NCjxwb2x5Z29uIGZpbGw9InJnYig1MSwgNTEsIDUxKSIgcG9pbnRzPSIwLDAgMzUsNTAgMCwxMDAgIi8+DQo8L3N2Zz4=) left no-repeat;
    /* background-size: auto 100%; */
    width: 20px;
    background-position-x: -17px;
    height: 44px;
    display: block;
    position: absolute;
    left: -1px;
    top: 0px;
  }
  .item-details .price,
  .item-details .price-group .buy button,
  .item-details .price-group .buy span {
    padding: 8px 1em;
  }
  .item-details .price {
    padding-right: 0.75em;
  }
  .item-details .price-group .buy button,
  .item-details .price-group .buy span  {
    padding-right: 1.75em;
    border: none;
    position: relative;
    padding-left: 30px;
  }


  /* =Modal Window
  ----------------------------------------------- */
  #modal {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  #modal .inner {
    box-shadow: 0 0 10px rgba(42, 42, 42, 0.75);
    border-radius: 0.35em;
    margin: 0 auto;
    position: relative;
    padding: 1em;
    border: 3px solid white;

    /* Data URI encoded from: mercury.svg */
    background: rgb(235, 235, 235) url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjUwMHB4IiBoZWlnaHQ9IjUwMHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPGRlZnM+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkaWVudCIgeDE9IjAuNSIgeTE9IjAiIHgyPSIwLjUiIHkyPSIxIj4KICAgPHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJ3aGl0ZSIgLz4KICAgPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSJyZ2IoMjM1LCAyMzUsIDIzNSkiIC8+CiAgPC9saW5lYXJHcmFkaWVudD4KIDwvZGVmcz4KIDxnPgogIDxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBzdHJva2Utd2lkdGg9IjAiIHg9IjAiIHk9IjAiIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiAvPgogPC9nPgo8L3N2Zz4KICAgIA==) top repeat-x;
    background-size: contain;
  }
  #modal .close-last {
    text-align: center;
  }
  #modal .primary-action {
    margin: 3em 0;
  }
  .cart-add {
    text-align: center;
  }


  /* =Hover Window
  ----------------------------------------------- */
  #hover {
    -webkit-transition : opacity 0.2s;
    -moz-transition    : opacity 0.2s;
    -ms-transition     : opacity 0.2s;
    -o-transition      : opacity 0.2s;
    transition         : opacity 0.2s;
  }
  #hover .inner {
    position: absolute;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(42, 42, 42, 0.75);
    border-radius: 0.35em;
    margin: 0 auto;
    padding: 1em;
    border: 3px solid white;

    /* Data URI encoded from: mercury.svg */
    background: rgb(235, 235, 235) url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjUwMHB4IiBoZWlnaHQ9IjUwMHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPGRlZnM+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkaWVudCIgeDE9IjAuNSIgeTE9IjAiIHgyPSIwLjUiIHkyPSIxIj4KICAgPHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJ3aGl0ZSIgLz4KICAgPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSJyZ2IoMjM1LCAyMzUsIDIzNSkiIC8+CiAgPC9saW5lYXJHcmFkaWVudD4KIDwvZGVmcz4KIDxnPgogIDxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBzdHJva2Utd2lkdGg9IjAiIHg9IjAiIHk9IjAiIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiAvPgogPC9nPgo8L3N2Zz4KICAgIA==) top repeat-x;
    background-size: contain;

  }
  #hover .pointer,
  #hover .pointer-shadow {
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    border-width: 0 0 3px 3px;
    border-style: solid;
    -webkit-transform : rotate(-45deg);
    -moz-transform    : rotate(-45deg);
    -ms-transform     : rotate(-45deg);
    -o-transform      : rotate(-45deg);
    transform         : rotate(-45deg);
  }
  #hover .pointer.reverse,
  #hover .pointer-shadow.reverse {
    background: white;
    -webkit-transform : rotate(135deg);
    -moz-transform    : rotate(135deg);
    -ms-transform     : rotate(135deg);
    -o-transform      : rotate(135deg);
    transform         : rotate(135deg);
  }

  /* */
  @media \0screen {
    #hover .pointer,
    #hover .pointer-shadow {
      display: none;
    }
  }

  #hover .pointer-shadow {
    background: black;
    border-color: black;
    box-shadow: 0 0 10px rgba(42, 42, 42, 0.75);
    z-index: 9998;
  }
  #hover .pointer {
    background: rgb(235, 235, 235);
    border-color: white;
    z-index: 9999;
  }


  /* =Item Summary
  ----------------------------------------------- */
  .item-summary img,
  .item-summary div {
    display: inline-block;
    vertical-align: top;
  }
  .item-summary div {
    margin-left: 1em;
  }
  .item-summary .h1,
  .item-summary p {
    max-width: 200px;
  }
  .item-summary .h1 {
    font-size: 1.25em; /* @16px */
	margin-left: 0;
  }
  .item-summary p {
    margin-top: 1.3333em; /* @line-height */
    font-size: 0.6875em; /* @11px */
    color: rgb(51, 51, 51); /* @tungsten */
  }
  .item-summary img {
    border: 3px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    max-width: 275px;
    height: auto;
  }
  .item-summary .primary-action {
    position: absolute;
    left: -9999px;
  }


  /* =Slideshow
  ----------------------------------------------- */
  .slick-slider{
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
  }
  .slick-slider.slick-initialized{
    opacity: 1;
    margin: 0px;
  }
  #primary-featured-items:hover .slick-prev, #primary-featured-items:hover .slick-next {
    opacity: 1;
    
  }
  #primary-featured-items .slick-prev, #primary-featured-items .slick-next{
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 0;
    background: none;
  }
  #primary-featured-items .slick-next{
    right: -20px;
  }
  @media (max-width: 768px){
    #primary-featured-items .slick-arrow{
      display: none!important;
    }
  }
  
  #primary-featured-items .slick-prev{
    left: -20px;
  }
  #primary-featured-items .slick-prev:before, #primary-featured-items .slick-next:before{
    font-size: 100px;
  }
  #primary-featured-items .column{
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -moz-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    -webkit-transition-delay: 800ms;
    transition-delay: 800ms;
  }
  @media (max-width: 768px){
    #primary-featured-items .column{
      -moz-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    -webkit-transition-delay: 800ms;
    transition-delay: 800ms;
    }
  }
  #primary-featured-items .slick-current .column{
    opacity: 1;
    margin:0px;
    top: 0px;
  }
   #primary-featured-items .image {
  margin-left: -50px;
  -moz-transition-delay: 1200ms;
  -o-transition-delay: 1200ms;
  -webkit-transition-delay: 1200ms;
  transition-delay: 1200ms;
  }
  #primary-featured-items .inner {
    top: 60px;
    position: relative;
  }

  @media (max-width: 1024px){
    #primary-featured-items .column.inner{
      
      margin-top: 20px;
   }
  
  }

  
  @media (max-width: 768px){
    #primary-featured-items .column.inner{
      
      max-width: 500px;
      float: none;
      margin: 20px auto 0;
      max-width: 500px;
   }
   #primary-featured-items .image {
      max-width: 500px;
   }
  }
  .interior #primary-featured-items .item-details{
    padding: 20px 15px;
  }
  #primary-featured-items .item-details {
    background-color: transparent;
    box-shadow: none;
    margin: 0px;
    outline: none;
    background-size: cover;
    padding: 40px 40px;
  }

  @media (max-width: 768px){
    #primary-featured-items .item-details{
      padding: 20px 0;
      overflow: hidden;
    }
  }
  #primary-featured-items .item-details .button {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  
  #primary-featured-items .description{
    color:#fff;
  }
  #primary-featured-items .nav {
    display: none;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  #primary-featured-items .slick-dots {
    z-index: 2;
    bottom: -30px;
    margin: 0px;
  }

  #primary-featured-items .slick-dots button {
    display: inline-block;
    background: rgb(204, 204, 204); /* @silver*/
    width: 8px;
    height: 8px;
    border: 1px solid rgb(153, 153, 153); /* @magnesium */
    text-indent: -9999px;
    overflow: hidden;
  }
  #primary-featured-items .slick-active button,
  #primary-featured-items .slick-dots button:hover
  {
    background: rgb(250, 53, 0); /* @maraschino */
  }
  #primary-featured-items .jump-nav a:hover span,
  #primary-featured-items .jump-nav a:active span,
  #primary-featured-items .jump-nav a.active span {
    background: rgb(250, 53, 0); /* @maraschino */
  }


  /* =Checkout
  ----------------------------------------------- */
  section.checkout {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 1em;
    border-radius: 0.35em;
    overflow: auto;
    background: white;
  }
  section.checkout h1 {
    font-size: 1.875em; /* @30px */
    text-transform: uppercase;
  }
  section.checkout h2 {
    color: rgb(153, 153, 153); /* @magnesium */
    font-size: 1.125em; /* @18px */
    text-transform: uppercase;
  }
 

  section.customer form .text,
  section.customer form .select {
    font-size: 0.875em; /* @14px */
    width: 20em;
  }
  section.customer .show-address {
    display: block;
    color: black;
    margin-top: 1.3333em; /* @line-height */
  }
  section.checkout .back a:before,
  section.checkout .back button:before {
    font-size: 12px;
    margin-right: 10px;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e621";
  }
  section.checkout {
    padding-bottom: 5em;
    position: relative;
  }
  section.checkout form .back {
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
  /* This positions the buttons at the bottom of the page,
  may become really tall making the user scroll to reach the button.
  section.checkout .submit {
    position: absolute;
    bottom: 1em;
  }
  */

  section.checkout #shipping-address {
    width: 20em;
    margin-top: 2em;
    border-top: 2px solid rgb(220, 220, 220); /* @mercury */
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  section.checkout form .text input {
    width: 20em;
  }
  section.checkout form .zip input {
    width: 5em;
  }

  /* =Cart
  ----------------------------------------------- */
  .cart table,
  .confirmation table {
    font-size: 0.875em; /* @14px */
    background: white;
  }
  table {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153); /* @magnesium */
    border-collapse: collapse;
     /* @cartwidth */
  }
  table tbody th,
  table tbody td {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgb(153, 153, 153); /* @magnesium */
  }
  th, td {
    text-align: left;
    vertical-align: top;
    padding: 7px 10px;
  }
  table th > a:first-child {
    display: inline;
  }
  table thead th {
    color: black;
  }
  table img {
    margin-top: 0.5em;
  }
  table .remove {
    margin-top: 0.5em;
  }
  table .quantity label > span:first-child {
    position: absolute;
    left: -9999px;
  }
  table .quantity label br {
    display: none;
  }
  table tbody th {
    font-weight: normal;
  }
  table h6 {
    color: black;
    font-weight: normal;
    font-size: inherit;
  }
  table .number {
    margin-top: 0;
    color: rgb(102, 102, 102);
  }
  .cart table h6 {
    font-family: inherit;
  }

  .cart th,
  .cart td {
    width: 60px;
  }
  .cart th:first-child,
  .cart td:first-child {
    width: auto;
  }
  .cart dl {
    margin-top: 0;
    padding: 10px 0;
    /*border-color: rgb(153, 153, 153); @magnesium */
    overflow: auto;
    font-size: 0.875em; /* @14px */
    border: 1px solid rgb(226, 226, 226);
  }
  .cart dt,
  .cart dd {
    margin: 0;
    padding: 0 10px;
    width: 80px;
    float: left;
  }
  .cart dt {
    clear: both;
    color: black;
    font-weight: bold;
  }

  .order-history > section > dl,
  .confirmation dl {
    display: table;
    font-size: 0.9em;
  }
  .order-history > section > dl dt:after,
  .confirmation dt:after {
    content: ":";
  }
  .order-history > section > dl .delivery-estimate {
    font-size: 0.9em;
    color: rgb(250, 53, 0); /* @maraschino */
  }
  .order-history > section > dl dd,
  .confirmation dd {
    font-weight: bold;
    padding-top: 0.25em;
    margin-top: 0.25em;
    margin-left: 0;
  }
  .order-history > section > dl dd + dt,
  .confirmation dd + dt {
    margin-top: 1em;
  }

  /*.order-history > section > dl {
    float: left;
  }
  .order-history > section > section {
    float: right;
  }*/

  .checkout .customer form > section + section {
    margin-top: 2.5em;
    border-top: 2px solid rgb(220, 220, 220); /* @mercury */
    padding-top: 1.5em;
  }

  .required{
    font-size: 14px;
  }
  
  section.signin .form-error.show{
    margin-top: -40px;
  }
  .signin h1{
    margin-bottom: 45px;
  }

  .register-content{
    max-width: 700px
  }
  .register-content input{
    margin-bottom: 10px;
  }
  .signup-col{
    border-left: 2px solid rgb(220, 220, 220); /* @mercury */
  }
  .form-error.show{
      display: block;
  }
  @media (max-width: 768px){
    .signin h1{
      margin-bottom: 15px;
    }
    .register-content{
      max-width: 400px
    }
   div.signup-col{
     margin-top: 30px;
     border-left: none;
     padding-top: 20px;
     border-top: 2px solid rgb(220, 220, 220);
    }
  }
  
  section.beta-signup h1 {
    margin-top: 1.3333em; /* @line-height */
  }
  .account section.profile {
    margin-top: 3em;
  }

  /* 
  #content > section > section + section {
    margin-top: 2.5em;
    border-top: 2px solid rgb(220, 220, 220);
    padding-top: 1.5em;
  }
  */

  
  /* =Order History
  ----------------------------------------------- */
	.order-history h3{
		color:#731800
	}
	.order-history .orderdetails{
		float:left;
		width:425px;
		font-size:.9em
	}
	.order-history .orderdetails > div{
		margin-top:1em
	}
	.order-history .orderdetails > div + div{
		border-top:1px solid #CCC;
		padding-top:1em
	}
  .order-history .orderlabel{
  		color:#999;
  		display: inline-block;
    	float: left;
    	width: 150px
  }
  .order-history .ordervalue{
  		display:inline-block;
  		font-weight:bold
  }
  
  .order-history .cart{
		float:right;
		margin:0
	}
	.order-history .cart table,
	.order-history .cart dl{
		border-color:#CCC
	}
  .order-history .cart thead tr{
		background:#731800
	}
	.order-history .cart thead tr th{
		color:#FFF
	}
	.order-history .cart th, .order-history .cart td{
		padding:20px
	}

  /* =Payment
  ----------------------------------------------- */
  form .payment {
    background: url(/static/images/shared/credit.svg) no-repeat;
    background-size: contain;
    width: 113px;
    height: 26px;
  }
  form .payment h6,
  form .payment ul {
    position: absolute;
    left: -9999px;
  }


  /* =Form
  ----------------------------------------------- */
  .search input,
  form .text input,
  form textarea {
    border: 1px solid rgb(153, 153, 153); /* @magnesium */
    padding: 0.3em 0.35em;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.15);
    font-size: inherit;
  }
  /* KLUDGE: We should generalize these as form.compact */
  #content .search input,
  .beta-home .standard .text input,
  .beta-signup .standard .text input,
  .dialog .standard .text input {
    padding: 0.5em;
  }
  form label > span:first-child {
    color: black;
  }
  form label > span:first-child:after {
    content: ":";
  }
  #header .search input {
    padding: 6px 0.4em;
    width: 170px;
  }
  form textarea {
    width: 400px;
  }
  .standard button,
  .primary-action a,
  .primary-action span,
  .primary-action button,
  .primary-action input[type=submit],
  .secondary-action a,
  .secondary-action span,
  .secondary-action button,
  .search button,
  .customer button {
    display: inline;
    background: rgb(250, 53, 0); /* @maraschino */
    border-width: 0;
    color: white;
    cursor: pointer;
    font-family: "HelveticaNeue-CondensedBold", "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.125em; /* @18px */
    line-height: inherit;
    padding: 0.35em 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition : all 0.2s;
    -moz-transition    : all 0.2s;
    -ms-transition     : all 0.2s;
    -o-transition      : all 0.2s;
    transition         : all 0.2s;
  }
  .secondary-action a,
  .secondary-action span,
  .secondary-action button {
    background-color: rgb(204, 204, 204); /* @silver*/
  }
  .standard button:hover,
  .standard button:active,
  .standard button:focus,
  .primary-action a:hover,
  .primary-action a:active,
  .primary-action span:hover,
  .primary-action span:active,
  .primary-action button:hover,
  .primary-action button:active,
  .primary-action button:focus,
  .primary-action input[type=submit]:hover,
  .primary-action input[type=submit]:active,
  .primary-action input[type=submit]:focus,
  .secondary-action a:hover,
  .secondary-action a:active,
  .secondary-action span:hover,
  .secondary-action span:active,
  .secondary-action button:hover,
  .secondary-action button:active,
  .secondary-action button:focus,
  .search button:hover,
  .search button:active,
  .search button:focus {
    background-color: rgb(255, 58, 0);
    box-shadow: inset 0 0 15px rgba(150, 0, 0, 1);
  }
  .secondary-action a:hover,
  .secondary-action a:active,
  .secondary-action span:hover,
  .secondary-action span:active,
  .secondary-action button:hover,
  .secondary-action button:active,
  .secondary-action button:focus {
    background-color: rgb(153, 153, 153); /* @magnesium */
    box-shadow: inset 0 0 15px rgba(150, 150, 150, 1);
  }
  form section h6 {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
  }
  form section.select p span {
    position: absolute;
    left: -9999px;
  }

  #header .search input {
    font-size: inherit;
    margin: 0;
    background: rgb(226, 226, 226);
    border-width: 0;
    line-height: inherit;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
    height: 28px;
  }
  #header .search input:-moz-placeholder {
    color: rgb(100, 100, 100) !important;
  }
  #header .search input::-webkit-input-placeholder {
    color: rgb(100, 100, 100);
  }
  #header .search input:focus {
    background: white;
  }
  #header .search input:focus:-moz-placeholder {
    color: rgb(100, 100, 100) !important;
  }
  #header .search input:focus::-webkit-input-placeholder {
    color: rgb(100, 100, 100);
  }
  #header .search button {
    line-height: inherit;
    font-family: inherit;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: inherit;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: url(/static/images/shared/lense.png) center no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    width: 27px;
    vertical-align: top;
    border-radius: 1px;
  }
  #header .search button:hover,
  #header .search button:active {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
  }


  /* =Dialog
  ----------------------------------------------
  (A page with a small amount of content.)
  ----------------------------------------------- */
  #content .dialog {
    margin: 0 auto;
    display: table;
    height: 400px;
    font-size: 16px;
  }
  #content .dialog a {
    text-decoration: underline;
  }
  #content .dialog .primary-action {
    margin-top: 2.1em; /* @line-height x 150% */
  }
  #content .dialog .primary-action a {
    text-decoration: none;
  }
  #content .dialog .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
  img.featured-image {
  }
  
  
/* =Main Account
----------------------------------------------- */
.clear{
	clear:both
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#accountoptions{
	background:#f2f2f2;
	float:left;
	margin-right:2em;
	padding:1em;
	width:250px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#accountoptions a{
	background: url("/static/images/shared/triangle.png") no-repeat scroll left center transparent;
   padding-left: 10px;
}

#account{
	float:left
}
#account #billing, #account #shipping{
	float:left;
}
#account #billing{
	margin-right:2em
}

.profile{
	 margin: 1em 0;
    padding: 0;
}
.profile ul.addressblock{
	 margin:10px 0 10px 20px;
    padding:0;
}
.profile > li{
	margin-bottom:1em
}
.profile > li + li{
	border-top:1px solid #ccc;
	padding-top:1em
}
.profile li{
	list-style: none
}


/* =Update Account
----------------------------------------------- */
#updateaccount #billing{
	margin-right:6em
}
#updateaccount #billing, #updateaccount #shipping{
	float:left;
	width: 280px;
	margin-bottom:2em
}
#updateaccount input[type="text"]{
	width:100%;
	border: 1px solid #999999;
   box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
   font-size: inherit;
	padding: 0.3em 0.35em;
}

#basic{
	margin:2em 0
}
#basic .formleft{
	margin-right:6em
}
#basic .formleft, #basic .formright{
	float:left;
	width: 280px;
}
#basic .control-group{
	margin-bottom:1.5em
}

#updateaccount .primary-action{
	display:inline-block;
	margin-right:1em
}


/* =Update Password
----------------------------------------------- */
#passform input[type="password"]{
	border: 1px solid #999999;
   box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
   font-size: inherit;
	padding: 0.3em 0.35em;
}
#passform label{
	display: block;
   margin-bottom: 0.2em;
}
#passform .primary-action{
	display:inline-block;
	margin-right:1em
}




/* static documents styles: such as terms, return, privacy */
.text p{
    font-size: 0.9em;
    max-width: 50em;
}

#modal-product-logo{
    max-height: 300px;
    max-width: 200px;
}
p.indentation_left {
	padding-left:40px;
}

.item-details .photography-details{
    line-height: 25px;
}
.item-details .photography-details th{
    text-align: left;
    color: gray;
}
.item-details .photography-details td{
    font-weight: bold;
}
.item-details .photography-details ul{
    margin: 0;
    padding: 0;
}
.item-details .photography-details li{
    list-style: none;
    color: gray;
    font-weight: normal;
}
.item-details .photography-details li.edition{
    font-weight: bold;
    color: rgb(102, 102, 102);
    margin-top: 10px;
}
.item-details .photography-details li.edition:first-child{
    margin-top: 0;
}

.detailed-item-list form.buy{
    margin-top: 0;
}

.detailed-item-list form.buy .price-group{
    margin-top: 1.3em;
}
.photography-details li span{
    display: inline-block;
    background: rgb(193,193,193);
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border: 1px solid rgb(135,135,135);
}
.photography-details li.unframed span{
    background: rgb(230,27,10);
}

.detailed-item-list .photography-details{
    margin: 0 0 1em;
}
.detailed-item-list .photography-details li{
    list-style: none;
}

.detailed-item-list table th{
    min-width: 130px;
}
.detailed-item-list .item-details .photography-details th{
    text-align: right;
}
.detailed-item-list .item-details .photography-details td{
    color: gray;
}
.featured-items-list.detailed-item-list form.buy{
    margin-left: 0;
}

#shipping ul {
    margin: 10px 0 10px 20px;
    padding: 0;
}
#shipping ul li{
    list-style: none;
}
#shipping ul li input{
    display: none;
}

section.checkout{
    position: relative;
}
#secure-payment{
    margin: 1em 0;
    /*position: absolute;*/
    /*bottom: 10px;*/
    font-size: 13px;
}
.checkbox-list ul {
    margin-top:10px;
    padding-left:15px;
}
.checkbox-list li {
    list-style: none;
    margin-bottom:3px
}
.promo{
	background:#fa3500;
	padding:5px 15px;
	font-size:1.5em;
	text-transform:uppercase;
	margin:auto;
	width:924px;
	color:#fff;
	text-align:center;
}
.promo a:hover{
	color:#fff !important;
}
#contest-left{
	float:left;
	width:265px;
	margin-right:35px;
}
#contest-left img{
	width:100%;
}
#contest-right{
	float:left;
	width:642px;
}

#contest-right h4{
	font-size:2.1em;
	text-transform:uppercase;
	margin-top: 0.0em;
}

#contest-right h1{
	font-size:2.3em;
	text-transform:uppercase;
}
.contest-user{
	clear:both;
	background:#f8f8f8;
	margin:55px 0 85px !important;
	padding:45px 0;
	border:1px solid #ebebeb;
	text-align:center;
}
.contest-user strong{
	font-size:2em;
}

.contest-user strong{
	display:block;
	margin-bottom:40px;
}

.text .contest-user p{
	margin:0;
	max-width:100%;
}

.header-social li ,
.menu-social li {
    display: inline-block; zoom: 1; 
}
.header-social a ,
menu-social a {
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    
}
.header-social a.facebook ,
.menu-social a.facebook{
    background: url(/static/images/bw/fb.png);
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}
.header-social a.facebook:hover ,
.menu-social a.facebook:hover {
    background: url(/static/images/color/fb.png);
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}
.header-social a.twitter ,
.menu-social a.twitter {
    background: url(/static/images/bw/twitter.png);
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}
.header-social a.twitter:hover ,
.menu-social a.twitter:hover {
    background: url(/static/images/color/twitter.png);
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}
.header-social a.pinterest ,
.menu-social a.pinterest {
    background: url(/static/images/bw/pinterest.png);
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}
.header-social a.pinterest:hover ,
.menu-social a.pinterest:hover {
    background: url(/static/images/color/pinterest.png);
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}
.header-social a.tumblr ,
.menu-social a.tumblr {
    background: url(/static/images/bw/tumblr.png);
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}
.header-social a.tumblr:hover ,
.menu-social a.tumblr:hover {
    background: url(/static/images/color/tumblr.png);
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}
.header-social a.instagram ,
.menu-social a.instagram {
    background: url(/static/images/bw/instagram.png);
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}
.header-social a.instagram:hover ,
.menu-social a.instagram:hover {
    background: url(/static/images/color/instagram.png);
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}

.header-social a.googleplus ,
.menu-social a.googleplus {
    background: url(/static/images/bw/googleplus.png);
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}
.header-social a.googleplus:hover ,
.menu-social a.googleplus:hover {
    background: url(/static/images/color/googleplus.png);
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}


.header-social{float:right;padding: 0;}
.header-social ul{margin: 0px;}

.contest-user a{
	'text-decoration:none;
}

.contest-user .errorlist{
	list-style:none;
	font-weight:bold;
	color:rgb(250, 53, 0);
	font-family: "HelveticaNeue-CondensedBold", "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:15px;
	background:#eee;
	margin-bottom:15px;
	text-align:center;
	font-size:1.1em;
	text-transform:uppercase;
}

.contest-user .errorlist li{
	max-width:100%
}


#special-offer {
    border:solid 1px #ccc;
    text-align:center;
    padding:10px;
    font-weight:bold;
}

.landing-left-sidebar h4,
.landing-right-sidebar h4
{
font-size:15px;
text-transform: uppercase;
margin-bottom: 15px;
}
.landing-left-sidebar a{
display: block;
font-size: 12px;
text-transform: uppercase;
}
.landing-left-sidebar ul{
  margin: 0px 0 20px 0;
}
.landing-left-sidebar li{
 list-style: none;
  
}
.landing-left-sidebar a:hover{
  color:rgb(250, 53, 0);
}
.landing-right-sidebar #secondary-featured-items{
  margin-top: 0px;
  
}
.landing-right-sidebar #secondary-featured-items section h3{
  font-size: 18px;
}
.landing-right-sidebar #secondary-featured-items section{
  margin-bottom: 15px;
  display: none;
}

.landing-right-sidebar #secondary-featured-items section:nth-child(2),
.landing-right-sidebar #secondary-featured-items section:nth-child(3){
display: block;
}
.featured-boxes h3{
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}
@media (max-width: 1024px){
  .featured-boxes{
    margin-bottom: 30px;
  }
  .featured-boxes h3{
    font-size: 22px;
  }
}
.more-in-this-section{
    position: relative;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 0;
    border: 1px solid;
    padding: 10px 15px;
    display: none;
    font-size: 1rem;
    max-width: 100%;
}
@media (max-width: 1024px) {
    .landing-left-sidebar ul {
        display: none;
    }
    .more-in-this-section{
        display: block;
    }
}